@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

body{
    background-color: hsl(0, 0%, 95%);
}
section{
    border-radius: 10px;
    display: flex;
    align-content: center;
    justify-self: center;
    height: 50vh;
    width: 52vw;
    margin-top: 25vh;
    margin-left: 24vw;
}
h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', sans-serif;
    font-size: xx-large;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-size: 13px;
}
.content{
    margin: 2vw;
}
.sedans{
    display: inline-block;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: hsl(31, 77%, 52%);
}
.sedans span{
    color: hsl(31, 77%, 52%);
    font-family: 'Lexend Deca', sans-serif;
}
.suvs{
    display: inline-block;
    background-color: hsl(184, 100%, 22%);
}
.suvs span{
    color: hsl(184, 100%, 22%);
    font-family: 'Lexend Deca', sans-serif;
}
.luxury{
    display: inline-block;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: hsl(179, 100%, 13%);
}
.luxury span{
    color: hsl(179, 100%, 13%);
    font-family: 'Lexend Deca', sans-serif;
}
.button{
    margin-top: 5vh;
    border: 1px white;
    border-radius: 25px;
    text-align: center;
    width: 8vw;
    padding: 10px;
    background-color: white;
}
a{
    text-decoration: none;
}